/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@-webkit-keyframes rotating /* Safari and Chrome */
{
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.layer1 {
    -webkit-animation: layer1 30s ease-in-out infinite;
    animation: layer1 30s ease-in-out infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.layer2 {
    -webkit-animation: layer2 30s ease-in-out infinite;
    animation: layer2 30s ease-in-out infinite;
}

.layer3 {
    -webkit-animation: layer3 30s ease-in-out infinite;
    animation: layer3 30s ease-in-out infinite;
}

.layer4 {
    -webkit-animation: layer4 30s ease-in-out infinite;
    animation: layer4 30s ease-in-out infinite;
}
@-webkit-keyframes layer4 {
    0% {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0);
    }
    50% {
        -webkit-transform: translate(-1%, 0);
        transform: translate(-1%, 0);
    }
    100% {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0);
    }
}

@keyframes layer4 {
    0% {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0);
    }
    50% {
        -webkit-transform: translate(-1%, 0);
        transform: translate(-1%, 0);
    }
    100% {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0);
    }
}
@-webkit-keyframes layer3 {
    0% {
        -webkit-transform: translate(-75%, 0);
        transform: translate(-75%, 0);
    }
    50% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    100% {
        -webkit-transform: translate(-75%, 0);
        transform: translate(-75%, 0);
    }
}

@keyframes layer3 {
    0% {
        -webkit-transform: translate(-75%, 0);
        transform: translate(-75%, 0);
    }
    50% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    100% {
        -webkit-transform: translate(-75%, 0);
        transform: translate(-75%, 0);
    }
}

@-webkit-keyframes layer2 {
    0% {
        -webkit-transform: translate(-2%, 0);
        transform: translate(-2%, 0);
    }
    50% {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0);
    }
    100% {
        -webkit-transform: translate(-2%, 0);
        transform: translate(-2%, 0);
    }
}

@keyframes layer2 {
    0% {
        -webkit-transform: translate(-2%, 0);
        transform: translate(-2%, 0);
    }
    50% {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0);
    }
    100% {
        -webkit-transform: translate(-2%, 0);
        transform: translate(-2%, 0);
    }
}

@-webkit-keyframes layer1 {
    0% {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0);
    }
    50% {
        -webkit-transform: translate(-3%, 0);
        transform: translate(-3%, 0);
    }
    100% {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0);
    }
}

@keyframes layer1 {
    0% {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0);
    }
    50% {
        -webkit-transform: translate(-3%, 0);
        transform: translate(-3%, 0);
    }
    100% {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0);
    }
}

.animate__bounceOutUp {
    -webkit-animation-name: bounceOutUp;
    animation-name: bounceOutUp;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
}
.delay-1 {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

.delay-2 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.delay-3 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}
@-webkit-keyframes bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0) scaleY(.985);
        transform: translate3d(0, -10px, 0) scaleY(.985)
    }
    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0) scaleY(.9);
        transform: translate3d(0, 20px, 0) scaleY(.9)
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0) scaleY(3);
        transform: translate3d(0, -2000px, 0) scaleY(3)
    }
}
@keyframes bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0) scaleY(.985);
        transform: translate3d(0, -10px, 0) scaleY(.985)
    }
    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0) scaleY(.9);
        transform: translate3d(0, 20px, 0) scaleY(.9)
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0) scaleY(3);
        transform: translate3d(0, -2000px, 0) scaleY(3)
    }
}

.spin {
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.popup {
    -webkit-animation: indown 0.3 ease-in-out;
    animation: indown 0.3 ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.up_down {
    -webkit-animation: case 5s ease-in-out;
    animation: case 5s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes case {
    0% {
        margin-top: -6px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        margin-top: 0;
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    100% {
        margin-top: -6px;
        -webkit-transform: rotate(00deg);
        transform: rotate(00deg);
    }
}
@-webkit-keyframes case {
    0% {
        margin-top: -6px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        margin-top: 0;
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    100% {
        margin-top: -6px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.warning {
    -webkit-animation: warning 0.5s ease-in-out;
    animation: warning 0.5s ease-in-out;
    -webkit-animation-iteration-count: 4;
    animation-iteration-count: 4;
}
.opacity {
    -webkit-animation: opa 4s ease-in-out;
    animation: opa 4s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.blur {
    -webkit-animation: blur 0,3s ease-in-out;
    animation: blur 0,3s ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes warning {
    0% {
        color: #000000;
        font-weight: 400;
    }
    50% {
        color: red;
        font-size: 20px;
        font-weight: 700;
    }
    100% {
        color: #000000;
        font-weight: 400;
    }
}
@-webkit-keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes opa {
    0% {
        opacity: .7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .7;
    }
}
@keyframes opa {
    0% {
        opacity: .7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .7;
    }
}

@-webkit-keyframes blur {
    0% {
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
    }
    100% {
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }
}
@keyframes blur {
    0% {
        -webkit-backdrop-filter: blur(0px);
        backdrop-filter: blur(0px);
    }
    100% {
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }
}
